html,body{
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    background-image: linear-gradient(to bottom right, #002347, #003F7D);
}

.bg{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    height: 90%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0,0,0,0.5) 4px 4px 10px;
}

.titel{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4rem;
    text-align: center;
    font-family: Montserrat, serif;
    color: #fff;
}

.meme{
    height: 65%;
    overflow-y: scroll;
}

.meme img {
    width: 30rem;
    height: 30rem;
    object-fit: contain;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,1.0);
}

.titel h2{
    font-size: 36px;
    margin: 0px;
}

.name{
    font-size: 30px;
    margin: 0px;
}

.home{
    display: block;
    position: relative;
    margin: 0 auto;
    height: 64px;
}

.gallery{
    position: sticky;
    top: 0;
}

.bawahtitel{
    position: sticky;
    top: 60px;
}