html,body{
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    background-image: linear-gradient(to bottom right, #002347, #003F7D);
}

.bg{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    height: 90%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0,0,0,0.5) 4px 4px 10px;
}

.titel h2{
    font-size: 165px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 15s%;
    margin: auto;
    text-align: center;
    font-family: Montserrat, serif;
    color: #fff;
}

.name{
    font-size: 30px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: auto;
    text-align: center;
    font-family: Montserrat, serif;
    color: #fff;
}

.sub{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: auto;
    text-align: center;
    font-family: Montserrat, serif;
    color: #fff;
}


.arrow{
    display: block;
    position: relative;
    margin: 0 auto;
    height: 64px;
}